<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <!--    해당 설정파일에서 사용하는 프로퍼티-->
    <Properties>
        <Property name="logNm">${sys:logName:-log}</Property>
        <Property name="layoutPattern">%d{yyyy/MM/dd HH:mm:ss,SSS} [%-5p] [%C] [%t] - %m%n</Property>
        <!--<Property name="layoutPattern">%style{%d{yyyy/MM/dd HH:mm:ss,SSS}}{cyan} %highlight{[%-5p]}{FATAL=bg_red, ERROR=red,
            INFO=green, DEBUG=blue}  [%C] %style{[%t]}{yellow}- %m%n</Property>-->
    </Properties>
    <!--    LogEvent 전달해주는 Appender-->
    <Appenders>
        <Console name="Console_Appender" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}" disableAnsi="false"/>
        </Console>
        <RollingFile name="File_Appender" fileName="logs/${logNm}.log" filePattern="logs/${logNm}_%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="${layoutPattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="10" fileIndex="min">
                <Delete basePath="logs" maxDepth="1">
                    <IfFileName glob="${logNm}_*.log.gz" />
                    <IfLastModified age="P7D" />
            </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <!--    실제 Logger-->
    <Loggers>
        <Root level="${sys:logLevel:-DEBUG}" additivity="false">
            <AppenderRef ref="Console_Appender"/>
            <AppenderRef ref="File_Appender"/>
        </Root>
<!--        <Logger name="org.springframework" level="DEBUG"-->
<!--                additivity="false">-->
<!--            <AppenderRef ref="Console_Appender" />-->
<!--            <AppenderRef ref="File_Appender"/>-->
<!--        </Logger>-->
    </Loggers>
</Configuration>